body {

}

.hero-banner-container{
    background-image:url(https://www.zoochat.com/community/media/butterfly-pupae-papillorama-07.4767/full?d=0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding

}

.list-container {

}

.list-container li{

}

.list-container a{

}
